*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,body{
    height: 100%;

}



header img{
    width: 100px;
}



header ul{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 50px;
}

header ul li img{
    position: relative;
    top: -15px;
}

header ul li{
    position: relative;
    top: 10px;
}

header ul li a.nav-link{
    color: white;
}

header ul li a.nav-link:hover{
    animation: main 0.2s forwards reverse ;
    color: white;
}

@keyframes main {
    0%  {color: red;}
}

.universe .céu{
    width: 100%;
    height: 500px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(/portfolio/imagens/Ceu-Estrelado.jpg);
    z-index: 1;
    border-bottom: 1px solid white;
    
}

.universe img.Planeta{
    width: 200px;
    height: 200px;
    z-index: 2;
    position: relative;
    top: 160px;
    animation: planet 3s infinite alternate;
}

@keyframes planet {
    100%  {transform: translateY(-30px);}
}

.universe img.astronauta{
    width: 100px;
    height: 150px;
    z-index: 3;
    position: relative;
    top: 60px;
    left: 120px;
    animation: astronaut 2s infinite alternate;
}

@keyframes astronaut {
    100%  {transform: translateY(-30px);}
}

.bur{
    height: 150px;
}

.titulo4{
    border: 1px solid aqua;
    width: 80px;
    
}
.texto{
    background-color: black;
    width: 100%;   
}

.texto1{
    background-color: rgba(255, 255, 255, 0.068);
}

.texto video{
    max-width: 100%;
    width: 800px;
    height: auto;
}

.comentarios{
    background-color: black;
}

.comentario1 i{
    position: relative;
    width: 80px;
    padding: 0px 0px 5px 15px;
    left: 40%;
    border-radius: 10px 10px 0px 0px;
    font-size: 50px;
    
}
.comment{
    border-radius: 10px;
}

footer{
    background-color: black;
    color: white;
    border-top: 1px solid white;
}

footer a i{
    color: white;
    padding-left: 10px;
}